<div class="footer-store-section store-section footer-theme-bg-primary footer-theme-text-for-primary-bg">
	<div class="container">
		<div class="row">

			<div class="col-12 col-lg-3">
				{% if not (about_settings.links_1_hide) %}
					<div class="footer-about-us-links-div">
						<h1 class="pb-2">{{ about_settings.links_1_title }}</h1>
						{% for link in about_settings.links_1_links %}
							<p>
								<a href="{{ link.url }}">{{ link.title }}</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>


			<div class="col-12 col-lg-3">
				{% if not (about_settings.links_2_hide) %}
					<div class="footer-about-us-links-div">
						<h1 class="pb-2">{{ about_settings.links_2_title }}</h1>
						{% for link in about_settings.links_2_links %}
							<p>
								<a href="{{ link.url }}">{{ link.title }}</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>


			<div class="col-12 col-lg-3">
				{% if not (about_settings.links_3_hide) %}
					<div class="footer-about-us-links-div">
						<h1 class="pb-2">{{ about_settings.links_3_title }}</h1>
						{% for link in about_settings.links_3_links %}
							<p>
								<a href="{{ link.url }}">{{ link.title }}</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-12 col-lg-3">
				{% if not (about_settings.links_4_hide) %}
					<div class="footer-about-us-links-div">
						<h1 class="pb-2">{{ about_settings.links_4_title }}</h1>
						{% for link in about_settings.links_4_links %}
							<p>
								<a href="{{ link.url }}">{{ link.title }}</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="col-12 col-lg-3">

				<div class="footer-phone-email-address">
					<h1 class="pb-2">{{ about_settings.about_us_title }}</h1>


					<div class="phone-custom">
						<a class="phone-info" href="tel:{{ about_settings.about_us_text_phone }}" target="_blank">
							<span>{{ about_settings.about_us_text_phone }}</span>
						</a>
					</div>

					<div class="email-custom">
						<a class="email-info" href="mailto:{{ about_settings.about_us_text_email }}" target="_blank">
							<span>{{ about_settings.about_us_text_email }}</span>
						</a>
					</div>

					<div class="custom-address">
						<a class="email-info" href="{{ about_settings.about_us_url_address }}" target="_blank">
							<span>{{ about_settings.about_us_text_address }}</span>
						</a>
					</div>
				</div>

				<div class="social-icons d-flex flex-wrap">
					{% for social_media_item in about_settings.about_us_social_media_link %}
						<a href="{{social_media_item.url}}" target="_blank">
							<img alt="icon" src="{{social_media_item.image}}">
						</a>
					{% endfor %}
				</div>

			</div>

		</div>
	</div>
</div>

<div class="footer-companies">
	<div class="container">
		<div class="footer-icons">
			<div class="d-flex flex-row {% if store.apps.ios_app_id or store.apps.android_package_name%}justify-content-between{% else %}justify-content-center{% endif %} align-items-center flex-wrap icons-wrapper footer-store-section-bars">
				{% if store.apps.ios_app_id or store.apps.android_package_name%}
					<div class="icons social-apps-icons d-flex flex-wrap align-items-center">
						<div class="google-app-stores apps-social-icons d-flex justify-content-center">
							{% if store.apps.ios_app_id %}
								<a href="https://apps.apple.com/app/id{{ store.apps.ios_app_id }}" target="_blank">
									<img src="{{ asset_url ~ 'app-store.svg' }}" loading="lazy" alt="" width="115" height="35">
								</a>
							{% endif %}
							{% if store.apps.android_package_name %}
								<a href="https://play.google.com/store/apps/details?id={{ store.apps.android_package_name }}" target="_blank">
									<img src="{{ asset_url ~ 'google-play.svg' }}" loading="lazy" alt="" width="115" height="35">
								</a>
							{% endif %}
						</div>
					</div>
				{% endif %}
				<div class="icons">
					<div class="logistics-pay-icons d-flex flex-wrap justify-content-center">
						{% for shipping_method in store.shipping_methods %}
							<a href="/shipping-and-payment">
								<img src="{{ imageUrl(shipping_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
							</a>
						{% endfor %}


						{% for payment_method in store.payment_methods %}
							<a href="/shipping-and-payment">
								<img src="{{ imageUrl(payment_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
							</a>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-copyrights-vat-certificate">
	<div class="container">
		<div class="d-flex flex-column-reverse flex-lg-row flex-wrap align-items-center justify-content-between footer-store-section-bars" style="border-bottom: 0px;">
			<div class="d-flex justify-content-center align-items-center">
				<span class="text-center footer-copyrights">{{ store.copyrights | raw}}</span>
			</div>
			<div class="vat-crn-sections py-4 d-flex flex-row flex-wrap justify-content-end align-items-center">
				{% if store.vat_settings.is_certificate_visible %}
					<div class="vat-icon">
						<a {% if store.vat_settings.tax_registration_certificate %} href="{{ store.vat_settings.tax_registration_certificate }}" target="_blank" {% endif %}>
							<img src="{{ asset_url ~ 'vat-certificate.png' }}" loading="lazy" alt="" width="auto" height="40">
						</a>
					</div>
				{% endif %}

				{% if store.social_media.items.maroof %}
					<div class="maroof-icon">
						<a {% if store.social_media.items.maroof %} href="{{ store.social_media.items.maroof }}" target="_blank" {% endif %}>
							<img src="{{ asset_url ~ 'maroof.png' }}" loading="lazy" alt="" width="auto" height="30">
						</a>
					</div>
				{% endif %}

				{% if store.vat_settings.vat_number %}
					<div class="vat-number">
						<span>{{ locals.footer_vat_number }}</span>
						<span>{{ store.vat_settings.vat_number }}</span>
					</div>
				{% endif %}

				{% if store.commercial_registration_number %}
					<div class="maroof-icon">
						<span>{{ locals.footer_commercial_registration_number }}</span>
						<span>{{ store.commercial_registration_number }}</span>
					</div>
				{% endif %}
			</div>
		</div>

	</div>
</div>
